{% extends "layout.html" %}
{% block body %}
<h1> Show me the Difference</h1>
<p> SMTD is an open-source project to track the changes that large companies make to their terms of service and privacy policies.</p>
<p> Standard legal templates have become so risk-averse and so large that they're almost impossible to follow, for even the most dilligent watchers, or the most ardent privacy devotee.</p>
<p> SMTD will build a repository of terms of service, and highlight the differences between old and new.</p>
<p> It's open-source, in very doggy python and <a href="flask.pocoo.org/docs/0.10/">Flask</a>, and you can contribute <a href="https://github.com/iamwithnail/showmethediff">here.</a></p>
    <h1> <a href="/tos">View TOS</a> </h1>
    <h1> <a href="/urls">View URL List</a></h1>
{% endblock %}