{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_tos') }}" method=post class=add-tos>
      <dl>
        <dt>URL:
        <dd><input type=text size=30 name=title>
        <dt>Contents:
        <dd><textarea name=url rows=5 cols=40></textarea>
          <dd><input type=date name=date_scraped></dd>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for terms in tos %}
    <li><h2>{{ terms.title }}</h2>{{ terms.url|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
